# GPU Boost by ronax 
# Depends on Adrenoboost and Adreno idler driver
# Initialization
on property:sys.boot_completed=1
   chown system system /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost
   chmod 0644 /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost

# Set default profile on first boot
    exec u:r:init:s0 root root -- /vendor/bin/init.gpuboost.sh
    exec u:r:magisk:s0 root root -- /vendor/bin/init.gpuboost.sh
    exec u:r:su:s0 root root -- /vendor/bin/init.gpuboost.sh

# Enable gpuboost support
   setprop gpuboost.support 1

# Disable (default profile)
on property:persist.gpuboost.profile=0
    write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost 0

# Low
on property:persist.gpuboost.profile=1
    write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost 1

# Medium
on property:persist.gpuboost.profile=2
    write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost 2

# High
on property:persist.gpuboost.profile=3
    write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost 3

# Extreme
on property:persist.gpuboost.profile=4
    write /sys/devices/platform/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost 4
